@import "tailwindcss";

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/PretendardVariable.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
}

* {
  font-family: "Pretendard";
}

@theme inline {
  /* key color */
  --color-blue-50: #e9f0ff;
  --color-blue-100: #bbd1ff;
  --color-blue-200: #9bbaff;
  --color-blue-300: #6d9bff;
  --color-blue-400: #5188ff;
  --color-blue-main: #256aff;
  --color-blue-600: #2260e8;
  --color-blue-700: #1a4bb5;
  --color-blue-800: #143a8c;
  --color-blue-900: #102d6b;

  /* pointcolor */
  --color-orange-50: #ffeeec;
  --color-orange-100: #ffcbc4;
  --color-orange-200: #ffb1a7;
  --color-orange-300: #ff8e7f;
  --color-orange-400: #ff7866;
  --color-orange-point: #ff5640;
  --color-orange-600: #e84e3a;

  --color-white: #ffffff;
  --color-black: #0e0e0e;

  --color-gray-100: #ececee;
  --color-gray-200: #dddee0;
  --color-gray-300: #aaacb2;
  --color-gray-400: #95969b;
  --color-gray-500: #7a7d82;
  --color-gray-600: #6f7176;
  --color-gray-700: #57585c;
  --color-gray-800: #434448;
  --color-gray-850: #333537;
  --color-gray-900: #29292c;
  --color-gray-950: #1b1b1b;
}

@layer utilities {
  .font-default {
    font-family: "Pretendard";
  }

  .font-T01-B {
    font-family: "Pretendard";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.4;
  }

  .font-T01-SB {
    font-family: "Pretendard";
    font-weight: 600;
    font-size: 26px;
    line-height: 1.4;
  }

  .font-T02-B {
    font-family: "Pretendard";
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
  }

  .font-T02-SB {
    font-family: "Pretendard";
    font-weight: 600;
    font-size: 24px;
    line-height: 1.4;
  }

  .font-T03-B {
    font-family: "Pretendard";
    font-weight: 700;
    font-size: 22px;
    line-height: 1.4;
  }

  .font-T03-SB {
    font-family: "Pretendard";
    font-weight: 600;
    font-size: 22px;
    line-height: 1.4;
  }

  .font-T04-SB {
    font-family: "Pretendard";
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
  }

  .font-B01-B {
    font-family: "Pretendard";
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
  }

  .font-B01-SB {
    font-family: "Pretendard";
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
  }

  .font-B01-M {
    font-family: "Pretendard";
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
  }

  .font-B01-R {
    font-family: "Pretendard";
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
  }

  .font-B02-B {
    font-family: "Pretendard";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
  }

  .font-B02-SB {
    font-family: "Pretendard";
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
  }

  .font-B02-M {
    font-family: "Pretendard";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }

  .font-B02-R {
    font-family: "Pretendard";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }

  .font-B03-B {
    font-family: "Pretendard";
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
  }

  .font-B03-SB {
    font-family: "Pretendard";
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
  }

  .font-B03-M {
    font-family: "Pretendard";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
  }

  .font-B03-R {
    font-family: "Pretendard";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
  }

  .font-C01-M {
    font-family: "Pretendard";
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
  }

  .font-C01-R {
    font-family: "Pretendard";
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
  }

  .shadow-custom-light {
    box-shadow: 0px 0px 15px 0px rgba(221, 222, 224, 0.5);
  }

  .shadow-1 {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.03), 4px 0px 8px rgba(0, 0, 0, 0.03);
  }

  .shadow-2 {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05),
      4px 0px 16px rgba(0, 0, 0, 0.05);
  }

  .shadow-custom-3 {
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.05),
      4px 0px 32px rgba(0, 0, 0, 0.05);
  }

  .hover\:shadow-3:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
      4px 0px 32px 0px rgba(0, 0, 0, 0.05), 0px 4px 32px 0px rgba(0, 0, 0, 0.05);
  }
}
